<html>
    <head>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  </head><body>
  <script>
    // When the user clicks on <div>, open the popup
    function myFunction() {
      var popup = document.getElementById("addtogroup");
      popup.classList.toggle("show");
    }
    </script>
  
        <div class="Volunteer">
    
    <p class="Text container">Volunteers</p>
     
     <ul >
      <li class="Box col-*-*"><p class="listtext"><span>Jack James</span> <span style="font-weight: normal;margin-left:3em" >  jackjames@g.net 
        <i class="fas fa-times" style="margin-left: 3em;"></i> 
        <i class="fas fa-sync" style="margin-left: 3em;"></i> 
      </span><button class="groupbutton btn-success" onclick="myFunction()">Add to Group</button>
    </li>
     <br>
     <li class="Box col-*-*"><p class="listtext"><span>Robert Phillip</span> <span style="font-weight: normal;margin-left:3em" >rphill4@g.net 
      <i class="fas fa-times" style="margin-left: 3em;"></i> 
      <i class="fas fa-sync" style="margin-left: 3em;"></i> 
    </span><button class="groupbutton btn-success">Add to Group</button>
  </li> <br>
  <li class="Box col-*-*"><p class="listtext"><span>Jermey Jones</span> <span style="font-weight: normal;margin-left:3em" >  jones2@g.net 
    <i class="fas fa-times" style="margin-left: 3em;"></i> 
    <i class="fas fa-sync" style="margin-left: 3em;"></i> 
  </span><button class="groupbutton btn-success">Add to Group</button>
</li><br>
<li class="Box col-*-*"><p class="listtext"><span>Aron Borker</span> <span style="font-weight: normal;margin-left:3em" >  ab233@g.net 
  <i class="fas fa-times" style="margin-left: 3em;"></i> 
  <i class="fas fa-sync" style="margin-left: 3em;"></i> 
</span><button class="groupbutton btn-success">Add to Group</button>
</li><br>
<li class="Box col-*-*"><p class="listtext"><span>Evan Wilson </span> <span style="font-weight: normal;margin-left:3em" >  ewj24@g.net 
  <i class="fas fa-times" style="margin-left: 3em;"></i> 
  <i class="fas fa-sync" style="margin-left: 3em;"></i> 
</span><button class="groupbutton" >Add to Group</button>
</li>  <br>
    
<li class="addmember"><p class="listtext" style="align-content: center;"><i class="fas fa-plus"></i> <span style="margin-left: 15em;">Add Member</span></p>

</li></ul>
    
  
  </div>
  <div class="RUBox">
    <p class="Boxru Boxruhover selected"  > <span class="listtext" style="margin-left: 2em;">Volunteer</span></p>
    <p class="Boxru Boxruhover " > <span class="listtext" style="margin-left: 2em;">Account</span></p>
    <p class="Boxru Boxruhover" > <span class="listtext" style="margin-left: 2em;">Events</span></p>
   

  </div>
  <div class="RLBox"><p class="Text" >National Cyber Security Event</p>
    <p class="smallText">Date 03/12/20</p>
  </div>
  <div class="popup" id ="addtogroup">bbbuu </div>
</body>
</html> 
