<html>
  <head></head>
<body>
  <div class="sign-up">
    <p class="sign-text">Sign in</p>
    <p class="sign-desc">Organizers and Volunteers</p>
    <form class="info-form" action="#">
        <div class="form-wrapper">
        
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname"><br>

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname"><br>

            <label for="email">Email</label>
            <input class="email-input" type="email" id="email" name="email"><br>

            <label for="pwd">Password</label>
            <input class="pwd-input" type="password" id="pwd" name="pwd"><br>
        
        </div>
        <div class="submit">
            <button class="org-btn" routerLink="/">Back</button>
            <input class = "submit-btn" type="submit" value="Sign In" routerLink="/congratulations-volunteer">
        </div>
    </form>
    <!-- <button class="org-btn">Sign In</button> -->
  </div>
</body>
</html>
