<html>
  <head></head>
<body>
  <div class="volunteer">
    <p class="volunteer-text">Volunteer Account</p>
    <p class="volunteer-desc">Organizers and Volunteers</p>
    <form class="info-form" action="#">
        <div class="form-wrapper">
        
            <label for="fname"> Full Name</label>
            <input type="text" id="fname" name="fname"><br>

            

            <label for="email">Email</label>
            <input class="email-input" type="email" id="email" name="email"><br>
            <label for="phno">Phone No.</label>
            <input type="number" id="phno" name="phno"><br>
            <label for="fname">Company </label>
            <input type="text" id="organization" name="organization"><br>
            <label for="fname">Github </label>
            <input type="text" id="github" name="github"><br>
        </div>
        <div class="submit">
            
            <input class = "submit-btn" type="submit" value="Save" routerLink="/congratulations-volunteer">
        </div>
    </form>
    <!-- <button class="org-btn">Sign In</button> -->
  </div>
</body>
</html>
